@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Tektur:wght@400..900&display=swap');

@font-face {
    font-family: "Game_Over";
    src: url('../fonts/game_over.ttf');
}

@font-face {
    font-family: "Bats";
    src: url('../fonts/Bats.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", Arial, Helvetica, sans-serif;
    background-image: url('../IMAGES/Screenshot_35.png');
    background-attachment: fixed;
    background-color: #f4f4f9;
    padding-top: 60px;
}

#container {
    margin: 20px auto;
    width: 80%;
}

header {
    width: 98%;
    padding: 1%;
    height: auto;
    background-color: rgba(3, 252, 11, 0.822);
    color: white;
    font-family: "Arial";
    text-align: center;
}

header img {
    display: block;
    margin: 10px auto;
}

nav.topo {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    z-index: 1000;
}

nav.topo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav.topo li {
    display: inline-block;
}

nav.topo li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Bats";
}

nav.topo li a:hover {
    background-color: #111;
}

nav.topo .active {
    background-color: rgba(3, 252, 11, 0.822);
}

nav.superior {
    width: 100%;
    margin-bottom: 1%;
    background-color: #333;
}

nav.superior ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav.superior li {
    display: inline-block;
    border-right: 1px solid #bbb;
}

nav.superior li:last-child {
    border-right: none;
}

nav.superior li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Quicksand';
}

nav.superior li a:hover {
    background-color: #111;
}

nav.superior .active {
    background-color: rgba(3, 252, 11, 0.822);
}

nav.lateral {
    float: left;
    width: 29%;
    background-color: rgba(3, 252, 11, 0.822);
    font-family: 'Kanit';
}

nav.lateral ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.lateral li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

nav.lateral li a:hover {
    background-color: #ddd;
    color: rgb(255, 255, 255);
}

main {
    background-color: white;
    border-radius: 20px;
    border: 1px dashed gray;
    width: 62%;
    padding: 2%;
    float: right;
    margin-bottom: 20px;
}

main section {
    margin-bottom: 30px;
}

main h2 {
    color: #4CAF50;
    font-family: "Bats";
}

#produtos {
    font-family: 'Quicksand';
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#produtos td, #produtos th {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#produtos th {
    background-color: #02ffa2;
    color: white;
}

#produtos tr:nth-child(even) {
    background-color: #f2f2f2;
}

#produtos tr:hover {
    background-color: #ddd;
}

footer {
    margin-top: 60%;
    background-color: rgb(41, 248, 0);
    width: 100% ;
    height: 100px;
    text-align: center;
    text-size-adjust: 10px;
    text-decoration-color: aliceblue;
}